asgiref==3.5.0
attrs==21.4.0
CacheControl==0.12.10
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
distlib==0.3.4
Django==4.0.3
django-crispy-forms==1.14.0
django-filter==21.1
djangorestframework==3.13.1
docopt==0.6.2
filelock==3.6.0
idna==3.3
jsonpickle==2.1.0
jsonschema==4.4.0
jupyter-core==4.9.2
Markdown==3.3.6
mod-wsgi @ file:///D:/Django/mod_wsgi-4.9.0-cp310-cp310-win_amd64.whl
msgpack==1.0.3
mysql-connector==2.2.9
mysqlclient==2.1.0
nbformat==5.2.0
pigar==0.10.0
Pillow==9.0.1
pipenv==2022.1.8
pipreqs==0.4.11
platformdirs==2.5.1
Pygments==2.11.2
PyMySQL==1.0.2
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
pywin32==303
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
traitlets==5.1.1
tzdata==2021.5
urllib3==1.26.8
virtualenv==20.13.3
virtualenv-clone==0.5.7
yarg==0.1.9
