body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.user-element{
	display: flex;
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	margin:auto;
	padding: 10px;
	align-items:center;
	justify-content:center;
}

.flexing{
	display: flex;
	align-items:center;
	justify-content:center;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.usercolumn{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #ff5050!important;
}

#user-icon{
	width:30px;
	display: inline-flex;
	margin-left: 10px;
	border-radius: 50%
}

#friends-icon{
	width:40px;
	width:40px;
	display: inline-flex;
	border-radius: 50%;
}

#friends-name{
	display: inline-block;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 14px;
}

#notifikasi{
	display: inline-block;
	text-align: center;
	color:#fff;
	background-color: orange;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 14px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: yellow;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
    color: black;
	border-radius: 1;
    background-color: #ff5050!important;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

a {
	text-decoration: none;
  }
  
.popover__title {
	font-size: 24px;
	line-height: 36px;
	text-decoration: none;
	color: rgb(228, 68, 68);
	text-align: center;
	padding: 15px 0;
  }
  
.popover__wrapper {
	position: relative;
	margin: auto;
	display: flex;
	align-items: middle;
	justify-content:center;
  }

.popover__content {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -150px;
	transform: translate(0, 10px);
	background-color: wheat;
	padding: 1.5rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: auto;
  }

.popover__content:before {
	position: absolute;
	z-index: -1;
	content: "";
	right: calc(0%);
	top: -8px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #bfbfbf transparent;
	transition-duration: 0.3s;
	transition-property: transform;
  }
  
.popover__wrapper:hover .popover__content {
	z-index: 10;
	opacity: 1;
	visibility: visible;
	transform: translate(0, -20px);
	transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }

.popover__message {
	text-align: center;
  }
  