{% extends 'social/main.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{post.image}}">
            <div class="box-element product">
                <div class="row user-element">
                    <div class="popover__wrapper">
                        <div class="col-2">
                            <img id="friends-icon" src="{{post.profileImage}}">
                        </div>
                        <div class="col flexing">
                            <h6><strong>{{post.account}}</strong></h6>
                        </div>
                        <div class="popover__content">
                            <img alt="{{post.account}}" src="{{post.profileImage}}">
                            <p class="popover__message"><br>Nama: {{post.name}}<br>User ID: {{post.userID}}<br>Follower: {{post.follower}}</p>
                        </div>
                    </div>
                </div>
                <p> {{post.description}}</p>
                <hr>
                <div>
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="button" autocomplete="onClick">Like</button>
                    <button class ="btn btn-outline-secondary add-btn">Comment</button>
                    <div style="float: right">
                        <h6 style="display: inline-block;">{{post.likes}}</h4>
                        <h6 style="display: inline-block;"> Like </h4>
                        <h6 style="display: inline-block;">{{post.comments}}</h4>
                        <h6 style="display: inline-block;"> Comment</h4>
                    </div>
                </div>   
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
